.form {
  width: 350px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  border-radius: 39px;
  background: #d9d939;

}

.input , .btn {
  display: flex;
  justify-content: center;
  padding-top: 20px;

}

.data {
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 19px;
  border: none;
}

.btn-2 {
  border-radius: 19px;
  background: #315b11;
  color: white;
  border: none;
  margin-bottom: 20px;
  padding: 10px;
}
.btn-2:hover {
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}



